article{
    padding: 20px;
}
.search-bar{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.search-bar button{
    padding: 10px 20px;
    background-color: #A80000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.job-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.jobb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #D9D9D9;
}
.job-title{
    font-weight: bold;
}
.load-more button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #A80000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}